.gallery {
	display: grid;
	justify-items: stretch;

	grid-template-columns: repeat(4, calc(25% - (3em / 4)));
	column-gap: 1em;

	grid-template-rows: auto; /* Den är lika hög som innehållet */
	row-gap: 1em;
}

.gallery-item {
/* 	display: flex;
	flex-direction: column;
	justify-content: space-between;
 */
	background-color: cornflowerblue;
	padding: 1em;
	padding-top: 0.25em;

	border-radius: 15px;
	grid-area: auto;
}

.gallery-item-img {
	border-radius: 15px;
	background-size: cover;
	background-position: center;

	height: 6em;
	width: 100%;
}