.battle-background {
	height: 90vh;

}
.battle {
	display: grid;
	justify-items: stretch;
	align-items: center;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: auto; /* Den är lika hög som innehållet */
	row-gap: 0.5rem;
	margin: 0.5rem 0;
	width: 20em;
	font-size: 2rem;
}
.battle .combatant {
	cursor: default;
	border-radius: 5px;
	background-color: rgb(127, 180, 182);
	transition: 0.3s;
	height: 16.5rem;
}
.battle .combatant.active:hover {
	cursor: pointer;
	transform: translateY(-2px);
	box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}


.battle .text-wrapper {
	height: 10rem;
}
.battle .combatant p {
	font-size: medium;
	margin: 0 1rem;
	margin-bottom: 1rem;
}
.battle .combatant.winner {
	animation-name: victory;
	transform: translateY();
	animation-duration: 0.2s;
}


.victory-box button {
	margin: 1rem;
}
.victory-box div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgb(127, 180, 182);
	border-radius: 5px;
}
.victory-box div div {
	display: flex;
	flex-direction: column;
	max-width: 15rem;
	margin: 1rem;
}
.victory-box div div p {
	margin: 0.1rem;
	text-align: left;
}
.victory-box div div h4 {
	margin: 0.1rem;
}


@keyframes victory {
0%   {transform: translateY(0);}
50%  {transform: translateY(-20px);}
100%  {transform: translateY(0);}
}