
.battle {
	display: grid;
	justify-items: stretch;
	align-items: center;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: auto; /* Den är lika hög som innehållet */
	row-gap: 0.5rem;
	margin: 0.5rem 0;
	width: 20em;
	font-size: 2rem;
}

.battle p {
	margin: 0rem, 0rem;
}

.battle .combatant {
	border-radius: 5px;
	background-color: rgb(127, 180, 182);
	transition: 0.3s;
}
.battle .combatant:hover {
	background-color: rgb(147, 194, 194);
}