.start {
    border-radius: 5px;
    padding: 2rem;
    padding-top: 0.2rem;
    background-color: rgb(127, 180, 182);
}
.start p {
    margin-bottom: 2rem;
}

.start a {
    text-decoration: none;
    border: 1px solid #134739;
	color: #134739;
	background-color: #4BAF95;
	border-radius: 7px;
	padding: 0.2rem;
	cursor: pointer;
	transition: 0.25s;
}
.start a:hover {
    background-color: #6ab9a4;
}

.filler {
    background-color: #B5E5D9;
    width: 100%;
    height: 50vh;
}