.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }
  .App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  } 
  .App-link {
	color: #61dafb;
  }
  
  header {
	  background-color: #8AD2C0;
	  color: #3B4E49;
	  padding: 0.5em;
	  flex: 0 0 auto;
  }
  
  nav a {
	  padding: 0.2em 1.5em;
	  color: #3B4E49;
	  transition: background-color 0.3s linear;
	  text-decoration: none;
  }
  nav a:hover {
	  background-color: #4BAF95;
  }
  nav a.active {
	  font-weight: bold;
  }
  
  main {
	  background-color: #B5E5D9;
	  color: #3B4E49;
	  flex: 1 1 auto;
  }
  
  
  
